@use '../../styles/_vars' as var;
.btn{
  width: 250px;
    background-color: var.$link;
    color:#fff;
    font-size: 24px;
    font-weight: 700;
    padding: 24px 34px;
    outline: none;
    border: none;
    border-radius: 99px;
    cursor: pointer;
    transition: .5s ease-in all;
}
.btn:hover{
  transform:  translate3d(5px, -5px, -5px);
  transition: .5s ease-in all;
 
}