
.container {
  max-width: 600px;
  margin: 150px auto 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.title {
  display: flex;
  justify-content: start;
  gap: 12px;
  align-items: center;
  width: 440px;
  height: 102px;
  font-size: 30px;
  transition: 0.7s ease all;
  cursor: pointer;
  padding: 10px 20px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.title:hover {
  transform: scale(1.1);
  background-color: #f1ebeb;
  border-radius: 20px;
}
.mail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  width: 440px;
  height: 102px;
  color: #374785;
  padding: 10px 20px;
  font-size: 30px;
  transition: 0.7s ease all;
  border: 1px solid transparent;
  margin-bottom: 10px;
}
.mail:hover {
  transform: scale(1.1);
  background-color: #f1ebeb;
  border-radius: 20px;
}
