@use "../../styles/_vars" as var;

.inner{
    background-color: #9be7de63;
    max-width: 600px;
    width: 100%;
    height: 581px;
    border-radius: 30px;
    border:2px solid var.$link;
   position: relative;
    margin: 0 auto;
}
.image{

    display: flex;
    justify-self: center;
    height: 400px;
    padding-top: 40px;
    padding-bottom: 20px;
  
    img{
        width: 400px;
          border-radius: 30px;
    }
}
.desc{
    height: 177px;
    padding: 14px 32px 0px;
    background-color: #fff;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    overflow: hidden;
    h2{
        font-size: 22px;
        margin: 0 0 4px;
        color:var.$nav_link
    }
    p{
        font-size: 18px;
        color:#595A73;
        padding: 0;
        margin: 0;
    }
}