@use "../../styles/_vars" as var;
.btn{
    width: 150px;
    background-color: #FFC5B1;
    color: var.$nav_link;
    font-size: 18px;
    font-weight: 700;
    padding:  15px;
    outline: none;
   border:none;
    border-radius: 30px;
    cursor: pointer;
    transition: .7s ease-in all;
    z-index: 1;
    margin-top: 10px;
    position: relative;
  
}
.btn::before{
    transition: .7s ease-in all;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #FFC5B1;
    border:2px solid  var.$link;
    z-index: -1;
    border-radius: 100px;
    outline: none;
   
  }

  .btn:hover{
    color:#fff;
    transition: .7s ease-in all;
   
  }
  .btn:hover::before{
    transition: 0.7s all ease;
    left: 0;right: 0;opacity: 1;
  }