@use "../../styles/_vars" as var;
nav {
  padding: 24px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}
.container {
  max-width: 1470px;
  padding: 0 30px;
  margin: 0 auto;
}
ul {
  display: flex;
  justify-content: end;
  padding: 10px 0;
  column-gap: 2.5rem;

  li > a {
    color: var.$nav_link;
    font-size: 30px;
    padding-bottom: 10px;
    border-bottom: 3px solid transparent;
    transition: 0.7s ease all;

    &:hover {
      border-bottom: 3px solid var.$link;
      transition: 0.7s ease all;
    }
    &:active {
      color: var.$link;
    }
  }
}
.globe{
  display: flex;
  align-items: center;
  justify-content: center;
border-radius: 50%;
background-color: #fff;
border:1px solid  rgb(66, 31, 219);
padding: 8px;
outline: none;
transition: 0.7s ease all;
  }
.globe:hover{
  border-color: #fced1b;
  background-color: #e6e3e35b;
}
  
button{
  display: flex;
  align-items: center;
  justify-content: center;
border-radius: 50%;
background-color: #fff;
border:1px solid  rgb(66, 31, 219);
padding: 8px;
outline: none;
transition: 0.7s ease all;
}
